.thanks {
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.thanks p {
    font-size: 40px;
    color: white;
    opacity: 80%;
    margin-bottom: 50px;
}

.thanks button {
    font-size: 20px;
    padding: 10px 30px;
}