.justify-content-center {
  display: flex;
  align-items: center;
  background: #101A3A;
}

.nav-link {
  padding-left: 60px!important;
  padding-right: 60px!important;
  color: #FFF!important;
  opacity: 70%;
}

.contact {
  background: linear-gradient(to left, #183fc3, #2fb7f1);
  border: none!important;
  margin-left: 50px;
  padding: 8px 20px!important;
}

.nav-link:hover {
  opacity: 90%;
}

.dropdown-menu.show {
  background: #101A3A;
}

.dropdown-item {
  color: white!important;
}

.dropdown-item:hover {
  color: black!important;
}